:root{
    --yellow: #ffd602;
    --red: #d5040a;
    --blue: #036cb6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}
.page{
    position: relative;
    height: 100vh;
    width: 100%;
}
.container{
    position: absolute;
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: auto; */
    grid-template-rows: 60px 500px 400px 700px;
    grid-template-areas: 
    "nav     "
    "aside   "
    "section "
    "footer  ";
    height: auto;
}
.navbar{
    grid-area: nav;
    width: 100%;
    display: flex;
}
.navbar_content{
    display: flex;
    align-items: center;
    width: 100%;
    transform: translateY(-200px);
    /* duracion, nombre, delay, velocidad  */
    animation: 2s navbar 2s ease-in-out forwards;
}
@keyframes navbar{
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    85%{
        opacity: 0.4;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.navbar_content img {
    width: 50px;
}
.navbar_content ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 100%;
}
.navbar_content ul li a{
    color: var(--red);
    font-weight: 300;
    text-decoration: none;
}
.main-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    grid-area: section;
    justify-content: center;
    align-items: center;
}
.main-content p:first-child{
    font-size: 3.6rem;
    font-weight: 300;
    margin: 0 0 -14px 0;
}
.main-content h1 {
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0 0 28px 0;
}
.main-content p:last-child{
    font-weight: 100;
    font-size: 1.6rem;
    margin: 0;
    width: 60%;
}
.aside-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
}
.aside-content p{
    font-size: 3.6rem;
    z-index: 3;
    opacity: 0;
    animation-name: aside-content-text;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes aside-content-text{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.aside-content picture{
    width: 65vw;
    max-width: 320px;
    height: 80vw;
    max-height: 400px;
    z-index: 2;
    transform: translateX(600px);
    animation: 2s superman 2s ease-in-out forwards;
}
.aside-content img{
    width: 100%;
    height: 100%;
}
@keyframes superman{
    0%{
        transform: translateY(600px);
    }
    70%{
        transform: translateY(-40px);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        transform: translateX(0px);
        filter: drop-shadow(0px 0px 20px var(--blue));
    }
}
.aside-content div{
    background: var(--yellow);
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 550px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--yellow);
    transform: translateY(100%);
    animation-name: footer;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes footer {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}
.footer button{
    background: var(--blue);
    width: 40%;
    height: 20%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    transform: translateY(400px);
    animation: 1s footer-button 2.5s ease-in-out forwards;
}
@keyframes footer-button{
    0%{
        transform: translateY(400px);
    }
    100%{
        transform: translateY(0px);
    }
}
.footer button:hover > img,
.footer button:hover picture{
    cursor: pointer;
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.footer button > img,
.footer button picture{
    min-width: 150px;
    min-height: 150px;
    height: 40vw;
    width: 40vw;
    max-width: 220px;
    max-height: 220px;
    position: absolute;
    bottom: 30px;
    transform: translateY(0px) scale(1); /*poniendo esto es como reacionaria cuando deje de hacer hover al div, si no ponemos esatas propiedades la forma de retornar va a ser muy brusca y poco agradable */
    transition: transform 0.5s ease-in-out;
}
.footer button picture > img{
    width: 100%;
    height: 100%;
}
.loader{
    background: rgb(130, 197, 233);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    animation: loader 2s linear forwards; /*fordward hace que se quede en su etapa final*/
}
@keyframes loader{
    0%{
        opacity: 1;
        visibility: visible;
    }
    90%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.loader div{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    transform: scale(0);
    animation: scaling 2s ease-in-out infinite;
}
.loader div:nth-child(1){
    animation-delay: 0.2s;
}
.loader div:nth-child(2){
    animation-delay: 0.4s;
}
.loader div:nth-child(3){
    animation-delay: 0.6s;
}
@keyframes scaling{
    0%, 100%{
        transform: scale(0.2);
    }
    40%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }
}
.modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;
    display: grid;
    place-items: center;
    opacity: 0;
}
.modal_content{
    background: white;
    width: 75%;
    height: auto;
    max-width: 380px;
    /* max-height: 350px; */
    border-radius: 15px;
    display: grid;
    place-items: center;
    position: relative;
}
.modal_content > img{
    width: 50px;
    height: 50px;
    justify-self: end;
}
.modal_content img:hover{
    cursor: pointer;
}
.modal_content-slider{
    width: 100%;
    height: 40vw;
    position: relative;
    transform-style: preserve-3d;
}
.modal_content-slider input{
    display: none;
}
.cards{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.card{
    background: rgba( 255, 214, 2, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform 0.5s ease;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 50%;
    max-width: 180px;
    height: 100%;
    max-height: 180px;
    border-radius: 5px;
}
#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.5;
    z-index: 0;
}
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.5;
    z-index: 0;
}
.modal_content .card > img{
    width: 110%;
    height: 100%;
    transform: scale(1.2);
}
.modal_content .card > img:hover{
    transform: scale(1.25);
}
.modal_content-button{
    background: var(--red);
    color: white;
    width: 120px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    border: 1px solid var(--red);
    margin: 40px auto 25px;
}
.modal_content-button:hover{
    cursor: pointer;
}
.invisible{
    opacity: 0;
}
.visible{
    display: grid;
}
.hidden{
    display: none;
}
.appear{
    animation: 1.8s appear 0s ease-in-out forwards;
}
.disappear{
    animation: 2.4s disappear 0s ease-in-out forwards;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes disappear{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
